beautifulsoup4 (4.9.3)
certifi (2021.5.30)
chardet (4.0.0)
chromedriver-binary (91.0.4472.101.0)
click (8.0.1)
colorama (0.4.4)
configparser (5.0.2)
crayons (0.4.0)
dataclasses (0.8)
Flask (2.0.1)
future (0.18.2)
idna (2.10)
importlib-metadata (4.6.1)
itsdangerous (2.0.1)
Jinja2 (3.0.1)
line-bot-sdk (1.19.0)
MarkupSafe (2.0.1)
pip (9.0.3)
requests (2.25.1)
selenium (3.141.0)
setuptools (39.2.0)
soupsieve (2.2.1)
typing-extensions (3.10.0.0)
urllib3 (1.26.5)
webdriver-manager (3.4.2)
Werkzeug (2.0.1)
zipp (3.5.0)
